# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2.11.1
      with:
        add-job-summary: 'on-failure' # Valid values are 'always' (default), 'never', and 'on-failure'
        dependency-graph: generate
    - name: Execute Gradle build
      run: ./gradlew licenseFormat build --scan

  deploy:
    runs-on: ubuntu-latest
    if:  ${{ github.ref == 'refs/heads/master' }}
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Set up Apache Maven Central
      uses: actions/setup-java@v2
      with: # running setup-java again overwrites the settings.xml
        distribution: 'adopt'
        java-version: '11'
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2.11.1
    - name: Publish Snapshot package
      run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
      env:
       ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.OSSRH_USERNAME }}
       ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.OSSRH_TOKEN }}
       ORG_GRADLE_PROJECT_signingKey: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
       ORG_GRADLE_PROJECT_signingPassword: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase
